{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }} - Priority: {{ project.priority }}</h1>
            {{ project.description|markdownify }}
            {% comment %} {% for item in project.members.all %} {% endcomment %}
            <h2>{{ request.user | title }}'s Tasks</h2>
            {% comment %} {% endfor %} {% endcomment %}
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                {% if project.tasks.all %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                {% endif %}
                {% for task in project.tasks.all %}
                    <tbody>
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date | date:"F d, o" }}</td>
                            <td>{{ task.due_date | date:"F d, o" }}</td>
                            <td>{{ task.is_completed | yesno }}</td>
                        </tr>
                    {% empty %}
                        <p>This project has no tasks</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
